<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451379369623-2e967pocknneqk01t90qbdj71q02ic0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451379369623-2e967pocknneqk01t90qbdj71q02ic0o</string>
	<key>API_KEY</key>
	<string>AIzaSyAbXxp9LRHxg9TfUs7roYKJg5i-oO4VUR8</string>
	<key>GCM_SENDER_ID</key>
	<string>451379369623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.developwalkdream.komasute</string>
	<key>PROJECT_ID</key>
	<string>komazawaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>komazawaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451379369623:ios:f711131e830b9e34</string>
	<key>DATABASE_URL</key>
	<string>https://komazawaapp.firebaseio.com</string>
</dict>
</plist>